<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">


<!DOCTYPE html>
<html>
<head>
	<title>Vocal Diagnosis Bot</title>
</head>
<body>

			<ul id="slide-out" class="navigation-list  side-nav fixed pink darken-4 white-text">
			<h6>Vocal<br>Diagnosticator</h6>
    				<li>
					<icon class="material-icons">
					   record_voice_over
					</icon>
					<span class="text"><a href="/">Say Your Symptoms</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   healing
					</icon>
					<span class="text"><a href="/#trending">What's Going Around</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   select_all
					</icon>
					<span class="text"><a href="/#method">Our Methadology</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   security
					</icon>
					<span class="text"><a href="/#privacy">Your Privacy</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   email
					</icon>
					<span class="text"><a href="/#footer">Connect With Us</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   fingerprint
					</icon>
					{{#if loggedIn}}	
						<span class="text"><a href="/login">Login</a></span>
					{{else}}
						<span class="text"><a href="/logout">Logout</a></span>
					{{/if}}
			</li>
	
			</ul>
	
    <a href="#" data-activates="slide-out" class="button-collapse">
    	<i class="material-icons text-pink darken-4">menu</i>
    </a>

    <main>

        {{{ body }}}

    </main>
         <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Connect With Us</h5>
                <p class="grey-text text-lighten-4">Contact us using the method you see fit.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright JAM
            </div>
          </div>
        </footer>
<script type="text/javascript">
	$(document).ready(function(){
		// Activate the side menu 
		$(".button-collapse").sideNav();
    $('select').material_select();
	});  
</script>	
</body>
</html>