<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
<style type="text/css">
	.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    transform: translate3d(-50px, 0, 0);}
navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
ul.navigation-list li {
	padding-left: 5px;
    width: 100%;
    transition: background-color 0.3s ease 0s;
}
ul.navigation-list li span.text a{
    flex: 0 1 auto;
    font-weight: 500;
    user-select: none;
    padding-left: 10px;
    color: white;
}
h6{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 2rem 0;
}
.side-nav{
	    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
main, footer{
	padding-left: 300px;
}
#index-banner{
	color: white;
}
/*Chart*/
@import "compass/css3";

// Body Styles
body { 
  font-family: "Helvetica Neue", arial, sans-serif;
  padding: 2em;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h3 { font-size: 2em; }

// Progress Bars
progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 100px;
  width: 100%;
}

// The unordered list
.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

// The list item
.skill {
  margin-bottom: 1em;
  position: relative;
  h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
  }
  ::-webkit-progress-value { 
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }
}

// Style the bar colors
.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
  background: #ff6b6b;
}

.skill-3::-moz-progress-bar {
  background: #ff6b6b;
}

// Animation Keyframes
@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}
/*End of Chart*/
</style>

<!DOCTYPE html>
<html>
<head>
	<title>Vocal Diagnosis Bot</title>
</head>
<body>

			<ul id="slide-out" class="navigation-list  side-nav fixed pink darken-4 white-text">
			<h6>Vocal<br>Diagnosticator</h6>
    				<li>
					<icon class="material-icons">
					   record_voice_over
					</icon>
					<span class="text"><a href="/">Say Your Symptoms</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   healing
					</icon>
					<span class="text"><a href="/#trending">What's Going Around</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   select_all
					</icon>
					<span class="text"><a href="/#method">Our Methadology</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   security
					</icon>
					<span class="text"><a href="/#privacy">Your Privacy</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   email
					</icon>
					<span class="text"><a href="/#footer">Connect With Us</a></span>
				</li>
				<li>
					<icon class="material-icons">
					   fingerprint
					</icon>
					<span class="text"><a href="/login">Login</a></span>
				</li>

			</ul>
	
    <a href="#" data-activates="slide-out" class="button-collapse">
    	<i class="material-icons text-pink darken-4">menu</i>
    </a>

    <main>

        {{{ body }}}

    </main>
         <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Connect With Us</h5>
                <p class="grey-text text-lighten-4">Contact us using the method you see fit.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright JAM
            </div>
          </div>
        </footer>
<script type="text/javascript">
	$(document).ready(function(){
		// Activate the side menu 
		$(".button-collapse").sideNav();
    $('select').material_select();
	});  
</script>	
</body>
</html>