<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
<style type="text/css">
ul.side-nav li {
  padding-left: 5px;
    width: 100%;
    transition: background-color 0.3s ease 0s;
}
ul.side-nav li span.text a{
    flex: 0 1 auto;
    font-weight: 500;
    user-select: none;
    padding-left: 10px;
    color: white;
}
h6{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.side-nav{
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
</style>

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<script type="text/javascript">
          $(document).ready(function(){
            // Activate the side menu 
            $(".button-collapse").sideNav();
            });  
</script>
</body>
</html>
      