<div class="section blue lighten-5" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
    <h2 class="header center-on-small-only pink-text darken-4">Login/Register
      <span class="btn btn-floating pink darken-4 btn-large pulse"><i class="material-icons">account_circle</i></span> 
    </h2>

        <div class="row">
            <form class="col s12" action="/login" method="post">
              <div class="row">
                <div class="input-field col s12">
                  <input name="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
               </div>
               <div class="row">
                <div class="input-field col s12">
                  <input name="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                    <input type="submit" value="Submit" class="btn">
                </div>
                <div class="col s6">
                    <a href="/register">
                      <i>Not a user yet?</i> <strong>Register Here</strong>
                    </a>
                </div>
              </div>
            </form>
          </div>
      </div>

    </div>
  </div>
</div>
