<div class="row">
    <form class="col s12" action="/register" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" name="first_name" type="text" class="validate" required="true">
          <label for="first_name" data-error="*required">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input value="age" name="age" type="number" class="validate" required="true" >
          <label for="disabled" data-error="*required">Age</label>
        </div>
        <div class="input-field col s6">
          <select name="gender" required>
            <option value="male" selected>Male</option>
            <option value="female">Female</option>
          </select>
          <label for="gender" data-error="*required">Gender</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" type="email" class="validate" required="true">
          <label for="email" data-error="*invalid email">Email</label>
        </div>
       </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="phone" type="tel" class="validate">
          <label for="phone">Phone</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate" required="true">
          <label for="password" data-error="*required">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <input type="submit" value="Submit" class="btn">
        </div>
      </div>
    </form>
  </div>