/*<style type="text/css">*/
body{
padding: 0;
line-height: 1;
  } 
  p, input, div{
  color: grey;
  }
  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    transform: translate3d(-50px, 0, 0);}
}
navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
ul.navigation-list li {
  padding-left: 5px;
    width: 100%;
    transition: background-color 0.3s ease 0s;
}
ul.navigation-list li span.text a{
    flex: 0 1 auto;
    font-weight: 500;
    user-select: none;
    padding-left: 10px;
    color: white;
}
h6{
  font-weight: 700;
  font-size: 1.5rem;
}
.side-nav{
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#slide-menu-icon{
  padding: 10px;  
}
.section{
  padding-top: 0;
}
@media screen and (min-width: 990px){
  main, footer{
    padding-left: 300px;
  }
  
}

#index-banner{
  color: white;
}
/*Chart*/
@import "compass/css3";

 /*Body Styles*/
body { 
  font-family: "Helvetica Neue", arial, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h3 { font-size: 2em; }

 /*Progress Bars*/
progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 30px;
  width: 100%;
}

/*The unordered list*/
.skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

 /*The list item*/
.skill {
  margin-bottom: 1em;
  position: relative;
  h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
  }
  ::-webkit-progress-value { 
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }
}

 /*Style the bar colors*/
.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
  background: #ff6b6b;
}

.skill-4::-webkit-progress-value {
  background: #ff69aa;
}
.skill-5::-webkit-progress-value {
  background: #69acff;
}
.skill-3::-moz-progress-bar {
  background: #ff6b6b;
}

/*Animation Keyframes*/
@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}
/*End of Chart*/
/*@media only screen and (max-width: 1000px) {
  navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
  }*/
/*</style>*/
